<div class="home-background">
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <a routerLink="/" class="logo"><img src="assets/logo.png" alt="" class="img-fluid"></a>
      
    </div>
  </header>
  <div class="container d-flex justify-content-between align-items-center min-vh-100">
    <div class="row w-100">
      <div class="col-lg-6 d-flex justify-content-start align-items-start pt-5">
        <div class="description-left">
          <h2 class="main-heading">Lab-it HireQuiz : Révélez Votre Potentiel !</h2>
          <h2 >Les CV ne suffisent plus à vous démarquer...</h2>
          <br>
          <div class="button-container mt-3">
            <button class="start" (click)="onStartClick()">COMMENCER</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
