
    <div class="reset-password-container">
        <h2>Réinitialiser le Mot de Passe</h2>
        <br>
        <form (ngSubmit)="Submit()">
            
            <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="E-mail">
            <button type="submit">Réinitialiser le Mot de Passe</button>
        </form>
        <div *ngIf="message" [ngClass]="{'reset-password-message': true, 'error': messageType === 'error', 'success': messageType === 'success'}">
            {{ message }}
        </div>
    </div>